.banner-div{
    position: relative;
    z-index: 2;
}
.carousel-text{
    color: white;
    z-index: 5;
}
.banner{
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.img-opacity{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: .65;
    z-index: 1;
}